html, body, div, span,
h1, h2, p, a, form, label {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    line-height: 1;
    padding: 0px 8px;
    font-family: sans-serif;
}
h1 {
    font-size: 48px;
    margin-bottom: 8px;
}
h2 {
    font-size: 16px;
    margin-bottom: 8px;
}
#datadisplay {
    width: 400px;
    height: 100%;
    overflow-y:scroll;
    font-family: monospace;
    vertical-align: top;
    float: left;
}
#datadisplay a {
    margin-right: 8px;
    text-decoration: none;
    color: #333;
    text-transform: uppercase;
    float: left;
}
#datadisplay a.highlight {
    color: #33F;
}
#output {
    margin-left: 440px;
    overflow-y:scroll;
}
